* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 10%; 
    padding: 12px;
    margin: 15px;
    background-color: inherit;
    border: 2px solid black;
}

.results-container {
    display: flex;
    justify-content: center;
}

