* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Rubik Maze", Helvetica, sans-serif;
}

.title-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 23, 85);
    color: rgb(234, 215, 215);
    text-transform: uppercase;
    padding: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 13%; 
    padding: 12px;
    margin: 15px;
    background-color: inherit;
    border: 2px solid black;
    text-transform: uppercase;
}

.results-container {
    display: flex;
    justify-content: center;
}

